body{
	background-color: orange;
}
h1{
	color: yellow;
	animation: flash linear 1s infinite;
}

keyframes flash {
0%; opacity: 1;

50%; opacity: 0;

100%; opacity: 1;
}

ul {
	padding: 5px;
	margin: 10px;
	list-style: square;
}

li {
	background: tomato;

	line-height: 150px;
	color: peachpuff;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}